/* Imported Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Globals */
html {
      scroll-behavior: smooth;
}

body {
      background-color: #061029ee;
      margin: 0;
      color: #d1d1d1;
      font-family: 'Ubuntu', sans-serif;
}

.center {
      text-align: center;
      margin: auto;
}

a {
      text-decoration: none;
      overflow: hidden;
      color: inherit;
}

.container {
      max-width: 1200px;
      margin: auto;
      overflow: hidden;
      padding: 4rem 1rem;
}

/* End Globals */

.works a :hover {
      color: #323faf;
}

.works a:visited {
      color: #fff;
}

.showcase::after {
      content: ' ';
      height: 100vh;
      width: 100%;
      /* BG from Pexels.com */
      background-image: url(../IMG/back.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      transition: all ease-in-out 500ms;
}

/* Change 53 54 to 0px for blur */
/* .showcase:hover::after {
      filter: blur(10px);
      -webkit-filter: blur(10px);
}

.showcase .content {
      filter: blur(2px);
      -webkit-filter: blur(2px);
}

.showcase:hover .content {
      filter: blur(0px);
      -webkit-filter: blur(0px);
} */

/* Javascript classes */
.stick {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;
      background-color: #2d4179;
      color: #fff;
}

.stick a:hover {
      background: #fff;
      color: #2d4179;
      padding: 10px 20px 10px 20px;
      border-radius: 6px;
      transition: background-color 600ms linear;

}

.active {
      background: #4d9bf3;
      color: #f7f7f7;
      padding: 10px 20px 10px 20px;
      border-radius: 6px;
}

/* End JS classes */

/* Start Of  Landing Section */
/* Keyframe Landing BTN */
@keyframes down-pulse {
      0% {
            padding-top: 15px;
            color: #516ad8bd;
      }

      25% {
            padding-top: 10px;
            color: #5169d875;
      }

      50% {
            padding-top: 10px;
      }

      100% {
            padding-top: 15px;
            color: #287eff;
      }
}

@keyframes up-pulse {
      0% {
            padding-left: 25px;
            padding-right: 25px;
      }

      50% {
            padding-left: 23px;
            padding-right: 23px;
      }

      100% {
            padding-left: 25px;
            padding-right: 25px;
      }
}

/* End Keyframe */
.front {
      padding: 10px 45px 10px 45px;
      border-radius: 5px;
      -webkit-animation: down-pulse 1s ease infinite;
      animation: down-pulse 1s ease infinite;
}

.front:hover {
      background-color: #1e376e;
      color: #fff;
      cursor: pointer;
      transition: background-color 500ms ease;
}


.content {
      position: absolute;
      z-index: 1;
      top: 20%;
      left: 50%;
      margin-top: 20px;
      margin-left: -225px;
      text-align: center;
      transition: all ease-in-out 700ms;
}

.content p {
      font-size: 1.5rem;
}

.content .logo {
      height: 180px;
      width: 180px;
}

.content .title {
      font-size: 2.2rem;
      margin-top: 1rem;
}


/* Navi */
nav {
      height: 50px;
      margin-bottom: -50px;
      font-size: 1.2rem;
      border-bottom: 4px solid #ff5252;
}


.navi {
      max-width: 600px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
}

.navi a {
      font-weight: bold;
}

.n-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
}

.navi div {
      align-self: center;
      justify-self: center;
}

.hov-nav a:hover {
      /* border-left: 3px solid #1c337b;
      border-right: 3px solid #1c337b; */
      background: #2d4179;
      color: #f4f4f4;
      padding: 10px 20px 10px 20px;
      border-radius: 6px;
      transition: background-color 600ms linear;
}


/* End Navi */

/* About Me */
.about {
      line-height: 1.5rem;
      padding-top: 150px;
      max-width: 600px;
      margin: auto;
      padding-bottom: 70px;
}

.about img {
      display: block;
      margin: auto;
}

.about p {
      margin-top: 40px;
}

.about h2 {
      margin-top: 40px;
}

.about img {
      width: 200px;
      height: auto;

}

/* About Me End */

/* Links */
.grid-2 {
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
}

/* End Links */

/* Works */
.grid-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
}

.works {
      border-top: 1px #e2e2e2 solid;
}

.works a {
      color: #e9e9e9;
}

/* Projects */
.projects a {
      color: #333;
}

.projects a:hover {
      color: #2f89ff;
}

.projects .git-left {
      margin-left: 50px;
}

.projects img {
      width: 350px;
      height: auto;
}
.more img{
      height: 170px;
}

/* End Works */
.bg-light {
      background: #eeecec;
      color: #1c337b;
}

.bg-dark {
      background: #333;
      color: #eeecec;
}

footer {
      padding: 2rem;
      margin: auto;
}


footer p {
      margin: 10px;
      text-align: left;
}

footer a {
      color: #2f89ff;
}

footer a:hover {
      color: #dbdbdb;
}

footer div {
      width: 25%;
      margin: 0 auto;
}


.up {
      margin-top: 10px;
      padding: 2px 30px 2px 30px;
      border-radius: 5px;
      animation: up-pulse 1s ease infinite;
      -webkit-animation: up-pulse 1s ease infinite;
}

.up:hover {
      background-color: #2137b6;
      color: #fff;
}

/* Media Queries */
@media(min-width:561px) {
      .short {
            display: none;
      }

      .up {
            display: none;
      }
}

/* Small Screens */
@media(max-width:560px) {
      .content .title {
            font-size: 1.5rem;
      }

      .content {
            top: 20%;
            margin-top: 80px;
            margin-left: -150px;
            left: 55%;
      }

      .content .logo {
            height: 140px;
            width: 140px;
      }

      .content div {
            visibility: hidden;
      }

      .content p {
            display: none;
      }

      nav {
            display: none;
      }

      .about {
            padding-top: 100px;
            max-width: 340px;
            margin: auto;
      }

      .full {
            display: none;
      }

      .short {
            padding-top: 20px;
      }

      .grid-2 {
            grid-template-columns: 1fr;
      }

      .grid-3 {
            grid-template-columns: 1fr;
      }

      .works div {
            border-bottom: #333 solid 1px;
            padding: 1.2rem 1rem;
      }

      .stick {
            display: none;
      }

      .navi {
            margin-left: 20%;
      }
      footer div {
            width: 70%;
            margin: 0 auto;
      }

}
@media(max-width: 692px) {
      footer div {
            width: 70%;
            margin: 0 auto;
      }

}
@media(max-width: 448px) {

      footer div {
            width: 80%;
            margin: 0 auto;
      }

}

/* Landscape */
@media(max-height: 500px) {

      .content .title,
      .content .blerb {
            display: none;
      }

      .content {
            top: 0;
            margin-left: -10%;
      }

      .grid-3 {
            grid-template-columns: repeat(2, 1fr);
      }

}
